<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <div id="app">
        <h1>hello</h1>
        <ul>
            <li v-for="friend in friends">
                {{ friend.name}}
                {{ friend.last_name}}
            
            </li>
        </ul>
        <input placeholder="Nuovo amico" v-model="newTask" />
        <button @click="addTask">Aggiungi</button>
    </div>

    <script src="./main.js"></script>
</body>

</html>